

<div class="card" style="width: 18rem;">
    <img src="https://fr.web.img6.acsta.net/pictures/22/04/13/18/45/5502555.jpg?coixp=51&coiyp=59" class="card-img-top" alt="illustration">
    <div class="card-body">
      <h2 class="card-title">Titre ici</h2>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem...</p>
      <h5>créée par</h5>



      <a href="#" class="btn btn-primary">Voir Plus</a>
    </div>
  </div>
  <style>
  h5 {
    color: white;
    font-family: cursive;
  }
  .card {
    margin-left: 50px;
    background: #292929;
  }
    .card-img-top {
        width: 287px;
    }
    .card-body{
        display: flex;
        flex-direction: column;
    }
    .card-title {
        text-align: center;
        color: white;
        font-family: cursive;
    }
    .card-text {
        text-align: justify;
        color: white;
        font-family: sans-serif;
    }
  </style>