{% set pirate4 = {"title": "pirate", "resume": "teste sur aquarrel", "image": "https://bilder.wunschliste.de/gfx/pics/1200/Heartstopper-Startet-Am-22-April-Bei-Netflix.jpg.jpg", "author":"moi-même"} %}
{% set pirate5 = {"title": "pirate", "resume": "teste sur aquarrel", "image": "https://bilder.wunschliste.de/gfx/pics/1200/Heartstopper-Startet-Am-22-April-Bei-Netflix.jpg.jpg", "author":"moi-même"} %}
{% set symfony = {"title": "symfony", "resume": "errare humanum est", "image": "https://bilder.wunschliste.de/gfx/pics/1200/Heartstopper-Startet-Am-22-April-Bei-Netflix.jpg.jpg", "author":"moi-même"} %}
{% set pirate = {"title": "pirate", "resume": "teste sur aquarrel", "image": "https://bilder.wunschliste.de/gfx/pics/1200/Heartstopper-Startet-Am-22-April-Bei-Netflix.jpg.jpg", "author":"moi-même"} %}
{% set articles = {'symfony': symfony, 'pirate':pirate, 'pirate4':pirate4, 'pirate5':pirate5} %}

<div class="card" style="width: 18rem;">
    <img src="{{ article.image}}" class="card-img-top" alt="illustration">
    <div class="card-body">
      <h2 class="card-title">{{ article.title | title }}</h2>
      <p class="card-text">{{ article.resume}}</p>
      <h5>By {{ article.author}}</h5>



      <a href="#" class="btn btn-primary">Voir Plus</a>
    </div>
  </div>
  <style>
  h5 {
    color: white;
    font-family: cursive;
  }
  .card {
    margin-top: 50px;
    margin-left: 50px;
    background: #292929;
    display: block;
  }
    .card-img-top {
        width: 287px;
    }
    .card-body{
        display: flex;
        flex-direction: column;
    }
    .card-title {
        text-align: center;
        color: white;
        font-family: cursive;
    }
    .card-text {
        text-align: justify;
        color: white;
        font-family: sans-serif;
    }
  </style>