
{% include "partials/nav.html.twig" %}

{% block body %}
<style>
    body {
        background: black;
    }
    
    h1 {
        color: #F7FBFF;
        font-size: 60px;
        font-weight: unset;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
</style>

<div class="example-wrapper">
    <h1>Bienvenue !</h1>
{% include "partials/card.html.twig" %} 
    
</div>
{% endblock %}
{% include "partials/footer.html.twig" %}