{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <h1>Create new Utilisateur</h1>

    {{ include('user_password_encoder/_form.html.twig') }}

    <a href="{{ path('app_user_password_encoder_index') }}">back to list</a>
{% endblock %}
